@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

.Logo {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-size: 60px;
    color: #2196F3;
}

.line {
    width: 100%;
    height: 3px;
}

.item {
    margin: 0 auto;
    display: flex;
}

.LoginAndSignup {
    width: 700px;
    margin-left: 250px;
    text-align: center;
}

.id {
    text-align: center;

    margin-top: 170px;
}

.login {
    display: inline-block;
    text-align: center;
    font-size: 48px;
    width: 659px;
}

.idtext {
    margin-top: 50px;
    display: inline-block;
    text-align-last: left;
    font-size: 18px;
    width: 659px;
    font-weight: bold;
}

.idInput {
    margin-top: 15px;
    font-size: 25px;
    border: 1px solid #A2ACBD;
    border-radius: 10px;
    display: block;
    margin-left: 20px;
    height: 70px;
    width: 659px;
}

.pwdText {
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    text-align-last: left;
    text-align: left;
    width: 659px;
    font-weight: bold;
}

.pwdInput {
    margin-top: 15px;
    border: 1px solid #A2ACBD;
    font-size: 25px;
    border-radius: 10px;
    display: block;
    margin-left: 20px;
    height: 70px;
    width: 659px;
}

.loginButton {
    width: 305px;
    height: 85px;
    border: 1px solid #2196F3;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    background-color: #2196F3;
    font-weight: bold;
    margin-top: 50px;
}

.signUpButton {
    width: 377px;
    height: 85px;
    border: 1px solid #A2ACBD;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    background-color: #A2ACBD;
    font-weight: bold;
    margin-top: 30px;
}

.join {
    margin-left: 400px;
    width: 610px;
    margin-top: 170px;
    text-align: center;
}

.joinText {
    display: inline-block;
    margin-top: 10px;
    font-size: 48px;
}

.joinInput {
    margin-top: 50px;
    border: 1px solid #A2ACBD;
    font-size: 25px;
    border-radius: 10px;
    display: block;
    height: 128px;
    width: 605px;
}

.joinButton {
    width: 305px;
    height: 85px;
    border: 1px solid #0064BA;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    background-color: #0064BA;
    font-weight: bold;
    margin-top: 55px;
}