.debateJoin{
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 350px;
    display: block;
}
.debateJoinBtn{
    height: 75px;
    width: 357px;
    margin-top: 40px;
    margin-left: 360px;
    background-color: #A2ACBD;
    color: white;
    border-radius: 47px;
    border: 1px solid #A2ACBD;
    font-size: 30px;
    font-weight: bold;
}
.debateJoinBtn:active{
    background-color: #2196F3;
    border-radius: 47px;
    border: 1px solid #2196F3;
}