.btnAndCode2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.MemberA2{
    margin-left: 120px;
}
.MemberA3{
    margin-left: 120px;
}
.MemberB2{
    margin-left: 120px;
}
.MemberB3{
    margin-left: 120px;
}
.btnList2{
    display: flex;
    margin-right: 780px;
}
